@model mvcapp.Models.Customer;

@{
    ViewData["Title"] = "Customer Home";
}

<div class="text-center">
    <h1 class="display-4">Customer Home</h1>
    <p>This is the Customer's Home Page.</p>
    <p>@ViewData["message"]</p>
</div>
